<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budget Extension</title>
    <!-- TODO: Add google fonts, fontawesome icons -->
    <link rel="stylesheet" href="/public/stylesheets/main.css">  
</head>
<body>
    <h1>Welcome To Budgie</h1>
    <h2>Budget Display Will Go Here</h2>
    <canvas>

    </canvas>

    <p>Add Purchase</p>
    <form id="newPurchase" action="">
        <input type="text" placeholder="Description">
        <input type="number" placeholder="Amount">
        <input type="submit">
    </form>

    <p>You have <span id="fundsRemaining"></span> dollars left to spend this cycle</p>
    <p>Your reset interval is set to: <span id="resetInterval"></span></p>
    <p>Your budget will reset on: <span id="resetDate"></span></p>
    <p>You have <span id="daysRemaining"></span> days left</p>
    <a id="new" href="/views/new.html" >Set New Bugdet</a>
    <br>
    <a id="settings" href="/views/edit.html">Edit Settings</a>
    <br>
    <a href="/views/history.html">View Spending History</a>
    <br>
    <a href="/views/login.html">Logout</a>


</body>
<footer>
    <!-- Scripts -->
    <script src="../js/main.js"></script> 
</footer>

</html>