<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budget Extension</title>
    <!-- TODO: Add google fonts, fontawesome icons -->
    <link rel="stylesheet" href="/public/stylesheets/main.css">  
</head>
<body>
    <h1>Welcome To Budgie</h1>
    <h2>Budget Display Will Go Here</h2>
    <canvas>

    </canvas>
    <p>You have <span id="fundsRemaining"></span> dollars left to spend this month</p>
    <p>Your reset interval is set to: <span id="resetInterval"></span></p>
    <p>Your budget will reset on: <span id="daysRemaining"></span></p>
    <a id="new" href="/views/new.html" >Set New Bugdet</a>
    <br>
    <a id="settings" href="/views/edit.html">Edit Settings</a>
    <br>
    <a href="/views/login.html">Logout</a>

    <!-- Scripts -->
    <script src="../js/main.js"></script> 
</body>

</html>