<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budget Extension</title>
    <link rel="stylesheet" href="/public/stylesheets/main.css">  
</head>
<body>
    <h1>New Budget</h1>
    <form id="form" action="/views/main.html">
        <div>
            <p>Enter the following</p>
            <input type="text" name="amount" placeholder="Enter Amount">
            <div>
                <input type="radio" id="weeklyChoice" name="time" value="weekly">
                <label for="weeklyChoice">Weekly</label>

                <input type="radio" id="biweeklyChoice" name="time" value="biweekly">
                <label for="biweeklyChoice">Bi-Weekly</label>

                <input type="radio" id="monthlyChoice" name="time" value="monthly" checked="checked">
                <label for="monthlyChoice">Monthly</label>

                <input type="radio" id="yearlyChoice" name="time" value="yearly">
                <label for="yearlyChoice">Yearly</label>
            </div>
            <div>
                <input type="checkbox" id="setOption1" name="useCurrentDate">
                <label for="setOption1">Use Current Date</label>
                <p></p>
                <input type="date" id="setOption2" name="useSelectedDate">
                <label for="setOption2">Use Another Date</label>
            </div>
            <div>
                <input type="submit">
            </div>
        </div>
    </form>
    <script src="../js/form.js"></script>
</body>
<footer>
    <a href="/views/main.html">Home</a>
</footer>
</html>