<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Budget Extension</title>
    <!-- TODO: Add google fonts, fontawesome icons -->
    <link rel="stylesheet" href="/public/stylesheets/main.css">  
</head>
<body>
    <h1>Sign Up</h1>
    <form id="signup" action="login.html">
        <label for="username">Enter New Username</label>
        <input id="username" type="text" required="required">
        <label for="password">Enter Password</label>
        <input id="password" type="password" required="required">
        <label for="email" >Enter Email</label>
        <input type="email" required="required" autocomplete="email">
        <input type="submit">
    </form>
    <a href="login.html">Return To Login</a>
</body>
<footer>
    <!-- Scripts -->
    <script type="module" src="../js/signup.js"></script> 
</footer>

</html>